<Header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-1 form-group">Mployee</div>
      <div class="col-sm-6 form-group">
        <a class="btn">Dashboard</a>
        <a class="btn">Relocate</a>
        <a class="btn">Directory</a>
        <a class="btn">Projects</a>
        <a class="btn">Technology</a>
      </div>

      <div class="col-sm-3 form-group">
        <div class="search-box">
          <input
            id="search"
            placeholder="Search.."
            [formControl]="searchControl"
            class="form-control searchInput"
            type="text"
          />
        </div>
      </div>
      <div class="col-sm-2 form-group" id="name">AB</div>
    </div>
  </div>
</Header>
